

<h2>Add New User</h2>

<form action="/users" method="POST" class="form">
  <label>
    Name:
    <input type="text" name="name" required>
  </label>

  <label>
    Email:
    <input type="email" name="email" required>
  </label>

  <button type="submit" class="btn">Save User</button>
</form>
